
.autocomp{
  position: absolute;
  padding-top: auto;
  height: 64px !important;
  padding-left: 140px !important;
}

@media only screen and (max-width: 992px){
  .hide-on-yes-and-down {
    display: none;
  }

  .aa-PanelLayout{
    flex-direction: column !important;
  }
  .aa-PanelElement--Right{
    width: 100% !important;
  }
  
  .aa-PanelElement--Left{
    width: 100% !important;
  }

  .aa-PanelElement-Spacer{
    margin: 0px !important;
    border-left: 0px solid transparent !important;
  }
  .aa-Autocomplete{
    height: 100%;
  }
  .mobile{
    background-color: transparent !important;
  }
}

.mobile{
  display: block !important;
  top: 56px;
  width: 100%;
  padding: 0 !important;
  background-color: #01bacb;
}

.aa-Autocomplete{
  height: 100%;
}

.aa-Form {
 padding: 5px;
 padding-right: 16px;
 border: none !important;
 background-color: #e0f7fa !important;
}

.ais-Hits {
  margin-top: 1rem;
}

.aa-PanelLayout {
  display: flex;
  flex-direction: row;
  /*flex-direction: column;*/
}

.aa-PanelElement--Right{
  display: flex;
  flex-direction: column;
  width: 66.66%;
}

.aa-PanelElement--Left{
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.aa-PanelElement-Spacer{
  width: 0px;
  margin: 0 2rem;
  border-left: 1px solid #01bacb ;
}

.aa-PanelLayout section {
  width: 100%;
}

.aa-PanelLayout section[data-autocomplete-source-id="authorsPlugin"] {
  margin-right: auto;
}


.ais-Hits-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
}

.ais-Hits-item {
  background: rgba(128, 126, 163, 0.08);
  border-radius: 5px;
  height: 100%;
  min-height: 202px;
  padding: 1rem;
  width: 100%;
}

.aa-SourceHeaderLine, .aa-SourceHeaderTitle, .aa-SubmitButton, .aa-SubmitIcon{
  color: #01bacb !important;
}
.aa-SourceHeaderLine{
  border-bottom: 1px solid #01bacb !important;
}

.aa-Panel{
  z-index: 1000 !important;
}